body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(120deg,#0C63E7,#0C63E7);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    ;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
 form h1{
 text-align: center;
 border-bottom: 1px solid black;
 padding-bottom: 10px;
}
form .txt{
    text-align: center;
    padding: 10px;
    /* justify-content: center; */
    /* align-items: center; */
}
form .btn{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;

}
.txt input{
    height: 20px;
    border: 1px solid lightseagreen;
    border-radius: 50px;
}
.btn input{
    padding: 5px 15px 5px 15px;
    color: black;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}
.btn input:hover{
    /* color: black; */
    background-color: lightskyblue;
    transition-duration: 1s;
}